@media (min-width: $screen-sm-min) {
  .page-header-fixed .page-container.page-container--home {
    margin-top: 0;
    .page-sidebar-closed .page-content-wrapper .page-content {
      margin-left: 0 !important;
    }
  }
}
//
//.fullpage {
//  width: 100%;
//  height: 100%;
//}

.slide-fg {
  background-color: rgba(0,0,0,0.85);
  width: 100%;
  height: 100%;
  color: #fff;
  display: table;
  text-align: center;
  > * {
    display: table-cell;
    vertical-align: middle;
  }
  h2 {
    font-size: 100px;
    font-weight: 200;
    line-height: 1;
    & + * {
      font-size: 42px;
      font-weight: 400;
    }
  }
}
